<!-- <form>
  <fieldset class="well the-fieldset">
      <legend class="the-legend">Your legend</legend>
      <span class="border border-info reserved"></span>
    <span class="border border-light free"></span>
    <span class="border border-dark discount"></span>
  </fieldset>
</form> -->

<table class="table table-bordered">
  <thead>
    <tr>
        <th>Slobodno</th>
        <th>Selektovano</th>
        <th>Zauzeto</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <span class="border"></span>
        </td>
        <td>
          <span class="borderSelected"></span>
        </td>
        <td>
          <span class="borderCannotBook"></span>
        </td>
      </tr>
  </tbody>
</table>

<div class="container">
  <h2>Oznacite zeljeno mesto</h2>
  <ng-container *ngFor="let seat of flightSeats; let i = index;">
    <span *ngIf="seat.reserved" class="borderCannotBook">{{seat.seatNumber}}</span>
    <span *ngIf="!seat.reserved" (mouseup)="selektuj(i, seat)" [ngClass]="{'border': !selectDiv[i], 'borderSelected': selectDiv[i]}">{{i+1}}</span>
    <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
  </ng-container>
  <div class="w-100"></div>
  <button type="submit" class="btn btn-primary btn-lg" (click)="backClick()">
      <fa name="arrow-left" size="lg"></fa>Povratak
   </button>
  <button class="btn btn-primary btn-lg" style="float: right;" (click)="rezervisi()">
    Rezervisi <fa name="arrow-right" size="lg"></fa>
  </button>
</div>



