<h2>Potvrda rezervacije </h2>
<app-view-airline-flight [currentFlight]="reservation?.ticket.flight"></app-view-airline-flight>
<div class="row">
  <div class="col-md-3 mb-3">
    <button class="btn btn-lg btn-block btn-danger" (click)="decline()">
      Odbij poziv
    </button>
  </div>
  <div class="col-md-6 mb-3">

  </div>
  <div class="col-md-3 mb-3">
      <button type="button" class="btn btn-lg btn-block btn-success" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Prihvati
      </button>
  </div>
</div>
<div class="row" id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="col-md-3 mb-3">
        <label for="passportNum">Broj pasosa:</label>
    </div>
    <div class="col-md-6 mb-3">
        <input id="passportNum" name="passportNum" [(ngModel)]="passportNum" type="text" class="form-control">
    </div>
    <div class="col-md-3 mb-3">
        <button type="submit" class="btn btn-success btn-block btn-lg" (click)="accept()">
            Potvrda
        </button>
    </div>
</div>
