<form [formGroup] = "novaUslugaForm" (ngSubmit) = "onSubmit()">
<table class = "table">
    <tr>
        <td>Naziv</td>
        <td>Opis</td>
        <td>Cena</td>
        <td>Popust</td>
        
    </tr>
    <tr>
      <td>
        <input type = "text" formControlName = "naziv" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.naziv.errors }">
        <div *ngIf="submitted && f.naziv.errors" class="invalid-feedback">
            <div *ngIf="f.naziv.errors.required">Ovo polje je obavezno!</div>
          </div>  
    </td>
      <td>
          <input type = "text" formControlName = "opis">
        </td>
        <td>
            <input type = "number" formControlName = "cena" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cena.errors }">
            <div *ngIf="submitted && f.cena.errors" class="invalid-feedback">
                <div *ngIf="f.cena.errors.required">Ovo polje je obavezno!</div>
              </div>  
        </td>
          <td>
              <input type = "number" formControlName = "popust" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.popust.errors }">
              <div *ngIf="submitted && f.popust.errors" class="invalid-feedback">
                <div *ngIf="f.popust.errors.required">Ovo polje je obavezno!</div>
              </div>
            </td>
    </tr>
    <tr>
        <td *ngIf = "!zaUpdate" colspan = "4" ><button class="btn btn-primary" >Dodaj uslugu</button></td>
        <td *ngIf = "zaUpdate" colspan = "4"><button class="btn btn-primary">Izmeni uslugu</button></td>
    </tr>

</table>
</form>
