<form (ngSubmit)="sendRentaBranch()">
  <fieldset>
      <div class="form-group">
          <label for="InputName">Renta Branch Name</label>
          <input [(ngModel)]="model.name" name="name" type="name" class="form-control" id="InputName" placeholder="Name">
      </div>
      <div class="form-group">
          <label for="InputLocation">Location</label>
          <input [(ngModel)]="model.location" name="location" type="name" class="form-control" id="InputLocation" placeholder="Location">
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>